<meta name='viewport' content='width=device-width, initial-scale=1'>
<title><%= title %></title>
<main>
  <noscript></noscript>
  <div id='error'></div>
  <div id='counter'><%= counter %></div>
</main>
