body {
  background: #ececec;
  font-family: monospace;
  overflow: hidden;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin-top: 27vh;
}


noscript, #error {
  font-size: 1.5em;
  color: #f44336;
  font-style: italic;
}

#counter {
  font-size: 15em;
  color: #161616;
  font-weight: bold;
}

#cost {
  font-size: 1.5em;
  color: #aaa;
}


::selection {
  background-color: #f44336;
  color: #161616;
}

#counter::selection {
  color: #ececec;
}
