body {
  background: #171717;
  font-family: monospace;
  overflow: hidden;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin-top: 27vh;
}

noscript, #error {
  font-size: 1.5em;
  color: #F3467A;
  font-style: italic;
}

#counter {
  font-size: 15em;
  color: #EBE4F4;
  font-weight: bold;
}

::selection {
  background-color: #F3467A;
  color: #EBE4F4;
}

#counter::selection {
  color: #171717;
}
